.header--container {
  display: flex;
  height: 70px;
  align-items: center;
  /*   margin: 20px; */
  justify-content: center;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 10;
  top: 0;
}

.header--icon {
  height: 60px !important;
}
