.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.screens--wraper {
  padding-top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
nav {
  display: contents;
}

.css-k008qs {
  display: block !important;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info--container {
  display: flex;
  /*   justify-content: center; */
  justify-content: space-evenly;
  margin-top: 20px;
}

.aboutUs--image {
  margin-top: 20px;
}

.serviceCard--container {
  background: black;
  color: #fff;
  padding-top: 5px;
}
.service--container {
  /*   width: max-content; */
  margin-top: 20px;
  background: black !important;
  /*   text-align: center !important; */
}

.service--card {
  display: flex;
  text-align: center;
  justify-content: center;
  /*   justify-content: center;
  align-content: center;
  width: 70%;
  margin: 0 10px; */
  /*   color: white !important; */
  background: none !important;
  border: none !important;
  height: 290px;
}
.card--container {
  background-color: black !important;
  color: white !important;
  border: none !important;
}
.card--container:hover {
  background-color: #007bff !important;
  cursor: pointer !important;
  transition: 0.7s;
}

.member--component {
  margin: 0 20px;
  box-shadow: 0 2px 2px !important;
}

.member--component:hover {
  box-shadow: 0 4px 6px !important;
  cursor: pointer;
}

.backgroundImage--component {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./images//PromoFoto.jpeg');
  background-size: cover;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
  text-align: center;
  padding: 50px;
  font-family: sans-serif;
  font-size: 38px;
  margin-top: 20px;
}

.backgroundContact--btn {
  background-color: #2196f3;
  border-radius: 3px;
  font-size: 18px;
  transition: 0.5s;
  height: 50px;
  text-align: center;
  justify-content: center;
  width: fit-content;
  padding: 0 10px;
  align-items: center;
  display: inline-flex;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}

.program--item {
  margin: 20px 0 !important;
  background: #2196f3;
  margin-top: 0 !important;
  padding: 20px 0;
  color: #fff;
}
.program--icon {
  display: block !important;
  margin-left: 20px !important;
  margin-bottom: 10px !important;
  color: green !important;
  padding: 12px 0 !important;
}
.program--component {
  /* display: flex; */
  margin: 0 20px;
}

.program--button {
  background: #2196f3 !important;
  display: flex !important;
  justify-content: center;
  margin: auto !important;
  font-weight: bold !important;
}

.programCard--subTitle {
  font-weight: bold !important;
  color: #ed6c02;
}

.programCard--subDescription {
  margin-bottom: 15px !important;
}

.programCard--button {
  width: 45%;
  margin-right: 20px !important;
}

.icons--container {
  padding: 0 !important;
}

.list--container {
  align-self: center !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.MuiListItemText-secondary,
.MuiListItemText-primary {
  font-size: 1rem !important;
  color: black !important;
  padding: 0 !important;
  margin-top: 9px !important;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
  padding: 10px 0 !important;
}
.listItem--container {
  margin-left: -2px !important;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 0 !important;
}

.testimonialsCard--container {
  margin: 60px 0;
}

.testimonials--component {
  margin: 0 20px;
  box-shadow: none !important;
  justify-content: center;
  height: 260px !important;
  position: relative;
}

.testimonials--component:hover {
  box-shadow: 0 4px 6px !important;
  cursor: pointer;
}
.testimonials--image {
  height: 120px;
  border-radius: 50%;
  width: 120px !important;
  /* display: inline !important; */
  position: absolute;
  left: calc(50% - 70px);
  top: -10px;
  border: 10px solid #fff;
}

.testimonials--content {
  margin-top: 70px;
  background: #efefef;
  height: 170px;
}

.contact--component {
  justify-content: center;
}

/* CONTACT -- Comments field */
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
  width: 58.5ch !important;
}

.submit--button {
  width: inherit !important;
  height: 55px !important;
}
.css-1hof3tc {
  width: 58.5ch !important;
}

.contact--container {
  background: #efefef;
  padding: 20px 0;
}

.contact--form {
  width: 40%;
}

.contact--information {
  width: 40%;
  margin-top: 10px;
}
@media screen and (max-width: 480px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  .css-ttwr4n,
  .css-1aquho2-MuiTabs-indicator {
    background-color: orange !important;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 999;
    background: #f7f7f7;
    background-image: url(./images/cellPhone\ Nav--logo.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .navbar--tabs {
    margin-right: 0 !important;
  }
  .css-8atqhb {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
  }

  .responsive--nav {
    transform: none;
  }

  .css-heg063-MuiTabs-flexContainer {
    display: block !important;
  }

  .MuiTabs-flexContainer /* css-k008qs */ {
    display: block;
  }
  .tab--item {
    display: block !important;
  }
  .nav-close-btn {
    top: 2rem;
    right: 2rem;
  }

  .info--container {
    display: block;
    margin: 0 20px;
  }

  .aboutUs--image {
    width: inherit !important;
  }
  .aboutUs--text {
    margin-left: 0 !important;
    width: 100% !important;
    margin-top: 10px !important;
  }

  .serviceCard--container {
    height: unset !important;
  }

  .service--card {
    display: block;
    align-self: center;
    height: unset;
    margin-left: 40px;
    padding-bottom: 20px;
  }

  .memberCard--component {
    display: block !important;
    margin-left: 25px;
  }
  .member--component {
    margin-bottom: 20px;
  }
  .backgroundContact--btn {
    padding: 0 10px;
  }
  .programCard--container {
    text-align: center;
  }
  .programCard--component {
    display: inline-block !important;
    align-items: center !important;
    margin-bottom: 20px;
  }
  .program--component {
    margin-bottom: 20px;
    height: 340px /* !important */;
    display: flex;
  }

  .programsCard--wrapper {
    display: block !important;
    width: 90% !important;
    margin: 0 18px !important;
    height: unset !important;
  }

  .programsCard--content {
    margin: 0 !important;
    width: auto !important;
  }

  .programCard--actionArea {
    padding: 0 !important;
    display: block !important;
    text-align: center !important;
  }

  .programCard--button {
    width: unset !important;
    margin: 5px 0 !important;
  }

  .ourPrograms--component {
    height: unset !important;
    width: 90% !important;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
      0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
    margin-left: 15px !important;
    border-radius: 4px !important;
  }

  .ourPrograms--content {
    display: block !important;
    height: unset !important;
  }

  .ourPrograms--image,
  .ourPrograms--text {
    width: 100% !important;
  }

  .ourPrograms--action {
    display: flex;
    justify-content: center !important;
  }

  .testimonialsCard--component {
    display: block !important;
    margin-left: 20px;
    height: unset !important;
  }
  .testimonials--component {
    margin-bottom: 30px;
  }

  .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
    width: 33.9ch !important;
  }

  .textField--input {
    width: 30ch !important;
  }
  .contact--form {
    width: 80% !important;
    margin: 0 25px;
  }

  .contact--container {
    width: 100%;
    display: block;
  }
  .contact--component {
    display: block !important;
  }
  .contact--information {
    margin: 0 35px;
    width: 80%;
    display: block;
  }

  .submit--button {
    width: 100% !important;
  }

  .css-1dydd9z-MuiPaper-root {
    display: block !important;
  }

  .css-1tph7h9-MuiSvgIcon-root {
    position: relative !important;
    top: 5px;
  }

  .css-18wpqyn-MuiSvgIcon-root {
    position: relative;
    top: 5px;
  }

  .css-crw0rw {
    display: block !important;
  }

  .css-a3i9r6 {
    position: relative;
    top: 5px;
  }

  .css-1hof3tc {
    width: 34ch !important;
  }
}
