.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.screens--wraper {
  padding-top: 50px;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
nav {
  display: contents;
}

.css-k008qs {
  display: block !important;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info--container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;
}

.aboutUs--image {
  margin-top: 20px;
}

.serviceCard--container {
  background: black;
  color: #fff;
  padding-top: 5px;
  height: 100% !important;
  display: grid;
  flex-direction: column;
  /*   font-family: 'Helvetica Neue LT';
 */
}
.service--container {
  margin-top: 20px;
  background: black !important;
  /*   font-family: 'Helvetica Neue LT';
 */
}

.service--card {
  display: flex;
  text-align: center;
  justify-content: center;
  /*   font-family: 'Helvetica Neue LT';
 */
  background: none !important;
  border: none !important;
  height: 290px;
}

.card--container {
  background-color: black !important;
  color: white !important;
  border: none !important;
}
.card--container:hover {
  background-color: #007bff !important;
  cursor: pointer !important;
  transition: 0.7s;
}

.member--component {
  margin: 0 20px;
  box-shadow: 0 2px 2px !important;
}

.member--component:hover {
  box-shadow: 0 4px 6px !important;
  cursor: pointer;
}

.backgroundImage--component {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./images//PromoFoto.jpeg');
  background-size: cover;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
  text-align: center;
  padding: 50px;
  font-family: sans-serif;
  font-size: 38px;
  margin-top: 20px;
  text-decoration: none !important;
}

.defaultButton--btn {
  text-decoration: none;
  width: 100vh;
  text-align: center;
}

.contact-btn {
  width: 14% !important;
  text-decoration: none !important;
}
.program--item {
  margin: 20px 0 !important;
  background: #2196f3;
  margin-top: 0 !important;
  padding: 20px 0;
  color: #fff;
}
.program--icon {
  display: block !important;
  margin-left: 20px !important;
  margin-bottom: 10px !important;
  color: green !important;
  padding: 12px 0 !important;
}
.program--component {
  /* display: flex; */
  margin: 0 20px;
}

.program--button {
  background: #2196f3 !important;
  display: flex !important;
  justify-content: center;
  margin: auto !important;
  font-weight: bold !important;
}

.programImage {
  width: 50% !important;
}

.programCard--subTitle {
  font-weight: bold !important;
  color: #ed6c02;
}

.isItensive-list {
  padding: 0 20px;
}

.programCard--subDescription {
  margin-bottom: 15px !important;
}

.programCard--button {
  width: 45%;
}

.icons--container {
  padding: 0 !important;
}

.list--container {
  align-self: center !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.MuiListItemText-secondary,
.MuiListItemText-primary {
  font-size: 1rem !important;
  color: black !important;
  padding: 0 !important;
  margin-top: 9px !important;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
  padding: 10px 0 !important;
}
.listItem--container {
  margin-left: -2px !important;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 0 !important;
}

.testimonialsCard--container {
  /*   margin: 60px 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials-btn {
  width: 27% !important;
  margin: 3% 0 !important;
}

.testimonials--component {
  margin: 0 20px;
  box-shadow: none !important;
  justify-content: center;
  height: 350px !important;
  position: relative;
}

.testimonials--component:hover {
  box-shadow: 0 4px 6px !important;
  cursor: pointer;
}
.testimonials--image {
  height: 120px;
  border-radius: 50%;
  width: 120px !important;
  /* display: inline !important; */
  position: absolute;
  left: calc(50% - 70px);
  top: -10px;
  border: 10px solid #fff;
}

.testimonials--content {
  margin-top: 70px;
  background: #efefef;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact--component {
  justify-content: center;
}

.message-input {
  width: 90% !important;
}

.submit--button {
  width: 30ch !important;
  height: 55px !important;
}

.contact--container {
  background: #efefef;
  padding: 20px 0;
  height: 100%;
}

.contact--form {
  width: 40%;
}

.contact--information {
  width: 40%;
  margin-top: 10px;
}
@media screen and (max-width: 1020px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  .css-ttwr4n,
  .css-1aquho2-MuiTabs-indicator {
    background-color: orange !important;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 999;
    background: #f7f7f7;
    background-image: url(./images/cellPhone\ Nav--logo.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .navbar--tabs {
    margin-right: 0 !important;
  }
  .css-8atqhb {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
  }

  .responsive--nav {
    transform: none;
  }

  .css-heg063-MuiTabs-flexContainer {
    display: block !important;
  }

  .MuiTabs-flexContainer /* css-k008qs */ {
    display: block;
  }
  .tab--item {
    display: block !important;
  }
  .nav-close-btn {
    top: 2rem;
    right: 2rem;
  }

  .info--container {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutUs--image {
    width: inherit !important;
  }
  .aboutUs--text {
    margin-left: 0 !important;
    width: 100% !important;
    margin-top: 10px !important;
  }

  .serviceCard--container {
    height: unset !important;
    height: unset !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service--card {
    display: block;
    align-self: center;
    height: unset;
    padding-bottom: 20px;
  }

  .memberCard--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .memberCard--component {
    display: block !important;
  }
  .member--component {
    margin-bottom: 20px;
  }
  .backgroundContact--btn {
    padding: 0 10px;
  }
  .programCard--container {
    text-align: center;
  }
  .programCard--component {
    display: inline-block !important;
    align-items: center !important;
    margin-bottom: 20px;
  }

  .programImage {
    width: 100% !important;
  }

  .program--component {
    margin-bottom: 20px;
    height: 340px /* !important */;
    display: flex;
  }

  .programCard-component {
    padding: 10% 0 25% 0;
  }

  .programsCard--wrapper {
    display: block !important;
    width: 90% !important;
    margin: 0 auto !important;
    height: unset !important;
  }

  .programsCard--content {
    margin: 0 !important;
    width: auto !important;
    font-size: x-large;
  }

  .programCard--actionArea {
    padding: 0 !important;
    display: block !important;
    text-align: center !important;
  }

  .programCard--button {
    width: unset !important;
    margin: 5px 0 !important;
  }

  .tour-component {
    height: 102vh !important;
    margin: 0 !important;
  }

  .tour-content {
    height: 92% !important;
  }

  .ourPrograms--component {
    /* border-radius: 4px!important; */
    /* box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important; */
    height: 945px;
    /* margin-left: 15px!important; */
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 20px; */
  }

  .ourPrograms--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 4px !important;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
    height: 95%;
  }

  .ourPrograms--image,
  .ourPrograms--text {
    width: 100% !important;
  }

  .ourPrograms--action {
    display: flex;
    justify-content: center !important;
  }

  .testimonialsCard--component {
    display: block !important;
    margin-left: 20px;
    height: unset !important;
  }
  .testimonials--component {
    margin-bottom: 30px;
  }

  .defaultButton--btn {
    width: auto;
  }

  .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
    /* width: 33.9ch !important; */
    width: 100% !important;
  }

  .textField--input {
    width: 90% !important;
  }
  .contact--form {
    width: 100% !important;
    /* margin: 0 25px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact--container {
    width: 100%;
    display: block;
    height: 120vh;
  }
  .contact--component {
    display: block !important;
  }
  .contact--information {
    /*   margin: 0 35px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contactInformation-items {
    align-items: baseline;
  }

  .css-nen11g-MuiStack-root {
    width: 90%;
  }

  .submit--button {
    width: 90% !important;
  }

  .css-1dydd9z-MuiPaper-root {
    display: block !important;
  }

  .css-1tph7h9-MuiSvgIcon-root {
    position: relative !important;
    top: 5px;
  }

  .css-18wpqyn-MuiSvgIcon-root {
    position: relative !important;
    top: 5px !important;
  }

  .css-crw0rw {
    display: block !important;
  }

  .css-149431h {
    position: relative;
    top: 5px;
  }

  .css-a3i9r6 {
    position: relative;
    top: 5px;
  }

  .css-1hof3tc {
    width: 100% !important;
  }
  .css-j7qwjs {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}

@media (min-width: 1021px) and (max-width: 1177px) {
  .testimonial--description {
    font-size: 12.7px !important;
  }
}
